.header-container {
  margin-top: 2vh;
  height: 10vh;
  background-color: #aeb7b3;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
