.header {
  height: 10vh;
  color: white;
  background-color: #313133;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Wriggle";

  font-size: 1.7vw;
  letter-spacing: 3px;
}
